jboss-as-distribution-6.1.0.Final.zip
jboss/LICENSE.txt
jboss/bin
jboss/client
jboss/common
jboss/copyright.txt
jboss/docs
jboss/jar-versions.xml
jboss/lib
jboss/server
jboss/.pc
jboss/Makefile
jboss/README.txt
jboss/usr
tmp
jboss_*
.vagrant
jboss/jboss-build-deps_1.0_all.deb
